CSS-HTML-NodeRED
[{"id":"72079484.6524dc","type":"tab","label":"Flow 1"},{"id":"b150daad.755a48","type":"template","z":"72079484.6524dc","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"#InputBox{\n    width: 40%;                 /* See how we are using % instead of px */\n    padding: 12px 20px;\n    font-size: 25px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\n#button {\n    width: 100%;\n    background-color: #4CAF50;\n    font-size: 25px;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    \n}\n\n#button:hover {\n    background-color: green;\n    font-size: 40px;\n}\n\n\n#AllSections{\n    width: 1200px;\n    height: 550px;\n    position:relative;\n    background-color: green;\n    padding: 15px;\n    bottom:0;\n\n}\n\n#Section1 {\n    border-radius: 5px;\n    font-size: 32px;\n    background-color: yellow;\n    padding: 10px;\n    width:30%;\n    text-align: center;\n    float: left;\n}\n\n#Section2 {\n    border-radius: 5px;\n    font-size: 32px;\n    background-color: red;\n    padding: 10px;\n    width:30%;\n    text-align: center;\n    float: left;\n    position: relative;\n    left:30px;\n}\n\n#Section3 {\n    border-radius: 5px;\n    font-size: 32px;\n    background-color: blue;\n    padding: 10px;\n    width:30%;\n    text-align: center;\n    float: right;\n\n}","x":393,"y":150,"wires":[["5d5eb788.c68d68"]]},{"id":"5d5eb788.c68d68","type":"template","z":"72079484.6524dc","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n<div id=\"AllSections\">\n    \n    <div id=\"Section1\">\n        \n    <h1>Solve 15+5 </h1>\n    <br>\n    <label  for=\"fname\">Enter the right answer</label>\n        <br><br>\n    <input id=\"InputBox\" type=\"text\" id=\"fname\" name=\"firstname\">\n     <br><br>\n    <input id=\"Button\" type=\"submit\" value=\"Submit\">\n    </div>\n    \n    <div id=\"Section2\">\n        <h1>Section 2</h1>\n    </div>\n    \n    <div id=\"Section3\">\n        <h1>Section 3</h1>\n    </div>\n\n</body>\n</html>\n","x":621,"y":150,"wires":[["58210841.679418"]]},{"id":"9bccb923.202b18","type":"http in","z":"72079484.6524dc","name":"","url":"/mysite","method":"get","swaggerDoc":"","x":173,"y":171,"wires":[["b150daad.755a48"]]},{"id":"58210841.679418","type":"http response","z":"72079484.6524dc","name":"","x":835,"y":192,"wires":[]}]
