Library
[{"id":"6a4a9307.66377c","type":"tab","label":"Import Library"},{"id":"b340a849.2b7048","type":"comment","z":"6a4a9307.66377c","name":"IN TO HTML","info":"[{\"id\":\"58eaa73f.083238\",\"type\":\"tab\",\"label\":\"In To HTML\"},{\"id\":\"1b4cc82c.b8f5f8\",\"type\":\"http response\",\"z\":\"58eaa73f.083238\",\"name\":\"http out\",\"x\":702,\"y\":207.11111450195312,\"wires\":[]},{\"id\":\"914b0be2.927d48\",\"type\":\"http in\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"url\":\"/data\",\"method\":\"get\",\"x\":115,\"y\":231.11111450195312,\"wires\":[[\"3e81e1a7.60200e\"]]},{\"id\":\"b1dd7074.7fe1a\",\"type\":\"template\",\"z\":\"58eaa73f.083238\",\"name\":\"Page Template\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"<html>\\n    <head>\\n        <title>Inputs TO Web</title>\\n        <style> {{{payload.style}}} </style>\\n    </head>\\n    \\n    <body>\\n<div id=\\\"Data\\\">\\nHello there <br />\\n\\nAltitude: {{data.altitude}}<br />\\nConcavity: {{data.concavity}}\\n</div>\\n    </body>\\n</html>\",\"x\":582,\"y\":111.11111450195312,\"wires\":[[\"1b4cc82c.b8f5f8\",\"f4c74f9b.fe102\"]]},{\"id\":\"1798a3c9.00432c\",\"type\":\"inject\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"topic\":\"concavity\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"2\",\"crontab\":\"\",\"once\":false,\"x\":139,\"y\":131.11111450195312,\"wires\":[[\"3e81e1a7.60200e\"]]},{\"id\":\"3e81e1a7.60200e\",\"type\":\"function\",\"z\":\"58eaa73f.083238\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n    case \\\"concavity\\\":\\n        context.data.concavity = msg.payload;\\n        msg = null;\\n        break;\\n    case \\\"altitude\\\":\\n        context.data.altitude = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"x\":385,\"y\":112.11111450195312,\"wires\":[[\"21dd7493.eafdec\"]]},{\"id\":\"15ff8219.7291ee\",\"type\":\"inject\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"topic\":\"altitude\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"1\",\"crontab\":\"\",\"once\":true,\"x\":135,\"y\":93.11111450195312,\"wires\":[[\"3e81e1a7.60200e\"]]},{\"id\":\"b0b071f0.4fe29\",\"type\":\"http in\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"url\":\"/web\",\"method\":\"get\",\"x\":122,\"y\":348.1111145019531,\"wires\":[[\"6ee4e457.b9b48c\"]]},{\"id\":\"6ee4e457.b9b48c\",\"type\":\"template\",\"z\":\"58eaa73f.083238\",\"name\":\"Auto Update Script\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<script>\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://127.0.0.1:1880/data\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },2000);\\n</script>\\n<div id = 'data'>\\n ... Loading ...\\n</div>\\n\",\"x\":403,\"y\":348.1111145019531,\"wires\":[[\"1b4cc82c.b8f5f8\"]]},{\"id\":\"f4c74f9b.fe102\",\"type\":\"debug\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"active\":false,\"console\":\"false\",\"complete\":\"true\",\"x\":721.888916015625,\"y\":42,\"wires\":[]},{\"id\":\"e71dea95.c5b4a8\",\"type\":\"comment\",\"z\":\"58eaa73f.083238\",\"name\":\"Mask Inputs\",\"info\":\"This node gets the data from the inputs and masks\\nthem so that they can be displayed on the web.\",\"x\":390.5,\"y\":78,\"wires\":[]},{\"id\":\"493b9a97.478524\",\"type\":\"comment\",\"z\":\"58eaa73f.083238\",\"name\":\"HTML Code\",\"info\":\"\",\"x\":574,\"y\":78,\"wires\":[]},{\"id\":\"21dd7493.eafdec\",\"type\":\"template\",\"z\":\"58eaa73f.083238\",\"name\":\"CSS\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#Data\\n{\\n    background-color:blue;\\n    font-style:bold;\\n    color:white;\\n    font-size:40px;\\n}\",\"x\":470.5,\"y\":176,\"wires\":[[\"b1dd7074.7fe1a\"]]}]","x":106.5,"y":46,"wires":[]},{"id":"73ce9810.605098","type":"comment","z":"6a4a9307.66377c","name":"Mult-In 1-Out HTML","info":"[{\"id\":\"b19bcc3.6aa763\",\"type\":\"tab\",\"label\":\"Mult-In 1-Out HTML\"},{\"id\":\"c6fb8989.078af8\",\"type\":\"http in\",\"z\":\"b19bcc3.6aa763\",\"name\":\"http in\",\"url\":\"/random\",\"method\":\"get\",\"x\":141,\"y\":269,\"wires\":[[\"6516f53e.c54e4c\"]]},{\"id\":\"280f92db.61e74e\",\"type\":\"template\",\"z\":\"b19bcc3.6aa763\",\"name\":\"\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<meta http-equiv=\\\"refresh\\\" content=\\\"2\\\" />\\n<div style=\\\"color:blue; font-size:50px;\\\">Hello Random - {{ payload }}</div>\\n<script>\\n    'setTimeout(function(){ window.location.reload(1); }, 1000);\\n</script>\",\"x\":488.00006103515625,\"y\":167,\"wires\":[[\"4c3e2bd0.9245c4\"]]},{\"id\":\"4c3e2bd0.9245c4\",\"type\":\"http response\",\"z\":\"b19bcc3.6aa763\",\"name\":\"http response\",\"x\":641,\"y\":170.00003051757812,\"wires\":[]},{\"id\":\"dfe25c7.84499a\",\"type\":\"inject\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Inject1\",\"topic\":\"Topic1\",\"payload\":\"3,300\",\"payloadType\":\"str\",\"repeat\":\"\",\"crontab\":\"\",\"once\":true,\"x\":153.00003051757812,\"y\":120,\"wires\":[[\"6516f53e.c54e4c\"]]},{\"id\":\"6516f53e.c54e4c\",\"type\":\"function\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Random Fn\",\"func\":\"\\nif (msg.topic == \\\"Topic1\\\") {\\n\\n var d = msg.payload;\\n context.myValue = d+\\\"\\\";\\n msg.payload = context.myValue;\\n return [msg,null];\\n} \\n\\nif (msg.topic == \\\"Topic2\\\") {\\n\\n var d = msg.payload;\\n context.myValue = d+\\\"\\\";\\n msg.payload = context.myValue;\\n return [msg,null];\\n}else {\\n msg.payload = context.myValue||\\\"No Input\\\";\\n return [null,msg];\\n}\\n\\n\",\"outputs\":\"2\",\"noerr\":0,\"x\":351,\"y\":123,\"wires\":[[\"70a74559.1a896c\"],[\"280f92db.61e74e\"]]},{\"id\":\"70a74559.1a896c\",\"type\":\"debug\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Debug1\",\"active\":true,\"console\":\"false\",\"complete\":\"true\",\"x\":612.0000610351562,\"y\":107,\"wires\":[]},{\"id\":\"cad63bea.64b8c8\",\"type\":\"inject\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Inject2\",\"topic\":\"Topic2\",\"payload\":\"TEST\",\"payloadType\":\"str\",\"repeat\":\"\",\"crontab\":\"\",\"once\":true,\"x\":120.5,\"y\":168,\"wires\":[[\"6516f53e.c54e4c\"]]}]","x":127.5,"y":92,"wires":[]},{"id":"5e0fe983.9d0468","type":"comment","z":"6a4a9307.66377c","name":"Motion Sensor","info":"[{\"id\":\"c30fd855.4c9d08\",\"type\":\"tab\",\"label\":\"Motion Sensor\"},{\"id\":\"8c5ec51e.94c2d8\",\"type\":\"rpi-gpio in\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"pin\":\"36\",\"intype\":\"up\",\"debounce\":\"200\",\"read\":false,\"x\":143,\"y\":147,\"wires\":[[\"cf1b09d9.7813a8\",\"560d3589.99e17c\",\"73b6de4a.a05a3\"]]},{\"id\":\"cf1b09d9.7813a8\",\"type\":\"debug\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"active\":true,\"console\":\"false\",\"complete\":\"false\",\"x\":575,\"y\":159,\"wires\":[]},{\"id\":\"560d3589.99e17c\",\"type\":\"rpi-gpio out\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"pin\":\"13\",\"set\":\"\",\"level\":\"0\",\"out\":\"out\",\"x\":259,\"y\":337,\"wires\":[]},{\"id\":\"73b6de4a.a05a3\",\"type\":\"function\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"func\":\"if (msg.payload == 1) {\\n    \\n    msg.payload = \\\"Intruder\\\"\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":371,\"y\":242,\"wires\":[[]]}]","x":122,"y":141,"wires":[]},{"id":"3b11f363.4506cc","type":"comment","z":"6a4a9307.66377c","name":"IN-OUT WEBSITE","info":"[{\"id\":\"861bae79.5ca62\",\"type\":\"tab\",\"label\":\"In-Out Website\"},{\"id\":\"35afd45c.3dbddc\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Simple Web Page\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"\\n<div>\\nMotion Sensor: {{data.motion_sensor}}\\n</div>\\n\\n\",\"x\":840,\"y\":375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"f2859574.673d88\",\"type\":\"websocket in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"server\":\"e137ec59.6af26\",\"client\":\"\",\"x\":183,\"y\":177,\"wires\":[[\"dbfbbb6b.d26908\"]]},{\"id\":\"dbfbbb6b.d26908\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"if (msg.payload == \\\"on_yellow\\\")\\n{\\n    msg.payload = 1;\\n}\\nif (msg.payload == \\\"off_yellow\\\")\\n{\\n    msg.payload = 0;\\n}\\n\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":379,\"y\":174,\"wires\":[[\"24704173.4e228e\"]]},{\"id\":\"24704173.4e228e\",\"type\":\"rpi-gpio out\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"pin\":\"15\",\"set\":true,\"level\":\"0\",\"out\":\"out\",\"x\":557,\"y\":176,\"wires\":[]},{\"id\":\"889cd636.d4b728\",\"type\":\"rpi-gpio in\",\"z\":\"861bae79.5ca62\",\"name\":\"Motion Sensor\",\"pin\":\"7\",\"intype\":\"up\",\"debounce\":\"25\",\"read\":true,\"x\":195,\"y\":259,\"wires\":[[\"65aae1c.deaaa2\"]]},{\"id\":\"fefc88ae.45b5b8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"msg.topic = \\\"motion_sensor\\\";\\nif (msg.payload === 0) {msg.payload = \\\"Clear\\\";}\\nelse {msg.payload = \\\"Intruder Detected\\\";}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":521,\"y\":259,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"df8ec534.7f1fb8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n\\n    case \\\"motion_sensor\\\":\\n        context.data.motion_sensor = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":651,\"y\":377.111083984375,\"wires\":[[\"35afd45c.3dbddc\"]]},{\"id\":\"1435ac75.7dafd4\",\"type\":\"http response\",\"z\":\"861bae79.5ca62\",\"name\":\"http out\",\"x\":1094,\"y\":520.1111145019531,\"wires\":[]},{\"id\":\"ffc6cca.4126d3\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/da\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":527,\"y\":664.111083984375,\"wires\":[[\"78c31fc2.8546d\"]]},{\"id\":\"cded739b.362b6\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/simple\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":473,\"y\":378.111083984375,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"d9198d06.7a2ef\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Auto Update Script\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<!DOCTYPE HTML>\\n<html>\\n    <head>\\n    <style>{{{payload.style}}}</style>\\n    <title>TURN LIGHT ON OR OFF</title>\\n    <script type=\\\"text/javascript\\\">\\n\\n     \\n        var ws;\\n        var wsUri = \\\"ws:\\\";\\n        var loc = window.location;\\n        console.log(loc);\\n        if (loc.protocol === \\\"https:\\\") { wsUri = \\\"wss:\\\"; }\\n        // This needs to point to the web socket in the Node-RED flow\\n        // ... in this case it's ws/simple\\n        wsUri += \\\"//\\\" + loc.host + loc.pathname.replace(\\\"da\\\",\\\"ws/da\\\");\\n\\n        function wsConnect() {\\n            console.log(\\\"connect\\\",wsUri);\\n            ws = new WebSocket(wsUri);\\n            //var line = \\\"\\\";    // either uncomment this for a building list of messages\\n        \\n            \\n        }\\n        function doit(m) {\\n            if (ws) { ws.send(m); }\\n        }\\n        \\n\\n        \\n    </script>\\n    </head>\\n    <body \\n    onload=\\\"wsConnect();\\\" \\n    onunload=\\\"ws.disconnect();\\\" \\n    \\n    >\\n        <font face=\\\"Arial\\\">\\n\\n        \\n        \\n        <h2>LED</h2>\\n        <button style=\\\"font-size:50px; background:#fcea4b; width:120px; padding:0px \\\" type=\\\"button\\\" onclick='doit(\\\"on_yellow\\\");'>ON</button>\\n        <button style=\\\"font-size:50px; background:#7f7306; width:120px; padding:0px\\\" type=\\\"button\\\" onclick='doit(\\\"off_yellow\\\");'>OFF</button>\\n        <br>\\n\\n\\n       \\n        <hr/>\\n\\n        </font>\\n<script>\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://192.168.1.27:1880/simple\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },2000);\\n</script>\\n<div id=\\\"data\\\">\\n ... Loading ...\\n</div>\\n</body>\\n</html>\\n\",\"x\":899,\"y\":653.111083984375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"78c31fc2.8546d\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#data{\\nfont-size:100px;\\ncolor:red;\\nfont-style:bold;\\n}\",\"x\":724,\"y\":696,\"wires\":[[\"d9198d06.7a2ef\"]]},{\"id\":\"65aae1c.deaaa2\",\"type\":\"trigger\",\"z\":\"861bae79.5ca62\",\"op1\":\"1\",\"op2\":\"0\",\"op1type\":\"num\",\"op2type\":\"num\",\"duration\":\"3\",\"extend\":true,\"units\":\"s\",\"reset\":\"\",\"name\":\"\",\"x\":371,\"y\":259,\"wires\":[[\"fefc88ae.45b5b8\"]]},{\"id\":\"e137ec59.6af26\",\"type\":\"websocket-listener\",\"z\":\"\",\"path\":\"/ws/da\",\"wholemsg\":\"false\"}]","x":146,"y":198,"wires":[]},{"id":"cca8cfd7.00a25","type":"comment","z":"6a4a9307.66377c","name":"IN-OUT WEBSITE CUSTOMIZED","info":"[{\"id\":\"861bae79.5ca62\",\"type\":\"tab\",\"label\":\"In-Out Website\"},{\"id\":\"35afd45c.3dbddc\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Simple Web Page\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"\\n<div>\\nMotion Sensor: {{data.motion_sensor}}\\n</div>\\n\\n\",\"x\":840,\"y\":375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"f2859574.673d88\",\"type\":\"websocket in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"server\":\"e137ec59.6af26\",\"client\":\"\",\"x\":183,\"y\":177,\"wires\":[[\"dbfbbb6b.d26908\"]]},{\"id\":\"dbfbbb6b.d26908\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"if (msg.payload == \\\"on_yellow\\\")\\n{\\n    msg.payload = 1;\\n}\\nif (msg.payload == \\\"off_yellow\\\")\\n{\\n    msg.payload = 0;\\n}\\n\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":379,\"y\":174,\"wires\":[[\"24704173.4e228e\"]]},{\"id\":\"24704173.4e228e\",\"type\":\"rpi-gpio out\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"pin\":\"15\",\"set\":true,\"level\":\"0\",\"out\":\"out\",\"x\":585,\"y\":169,\"wires\":[]},{\"id\":\"889cd636.d4b728\",\"type\":\"rpi-gpio in\",\"z\":\"861bae79.5ca62\",\"name\":\"Motion Sensor\",\"pin\":\"7\",\"intype\":\"up\",\"debounce\":\"25\",\"read\":true,\"x\":195,\"y\":259,\"wires\":[[\"65aae1c.deaaa2\"]]},{\"id\":\"fefc88ae.45b5b8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"msg.topic = \\\"motion_sensor\\\";\\nif (msg.payload === 0) {msg.payload = \\\"Clear\\\";}\\nelse {msg.payload = \\\"Intruder\\\";}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":521,\"y\":259,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"df8ec534.7f1fb8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n\\n    case \\\"motion_sensor\\\":\\n        context.data.motion_sensor = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":651,\"y\":377.111083984375,\"wires\":[[\"35afd45c.3dbddc\"]]},{\"id\":\"1435ac75.7dafd4\",\"type\":\"http response\",\"z\":\"861bae79.5ca62\",\"name\":\"http out\",\"x\":1094,\"y\":520.1111145019531,\"wires\":[]},{\"id\":\"ffc6cca.4126d3\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/da\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":527,\"y\":664.111083984375,\"wires\":[[\"78c31fc2.8546d\"]]},{\"id\":\"cded739b.362b6\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/simple\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":473,\"y\":378.111083984375,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"d9198d06.7a2ef\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"HTML\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<!DOCTYPE HTML>\\n<html>\\n    <head>\\n    <style>{{{payload.style}}}</style>\\n    <title>TURN LIGHT ON OR OFF</title>\\n    <script type=\\\"text/javascript\\\">\\n\\n     \\n        var ws;\\n        var wsUri = \\\"ws:\\\";\\n        var loc = window.location;\\n        console.log(loc);\\n        if (loc.protocol === \\\"https:\\\") { wsUri = \\\"wss:\\\"; }\\n        // This needs to point to the web socket in the Node-RED flow\\n        // ... in this case it's ws/simple\\n        wsUri += \\\"//\\\" + loc.host + loc.pathname.replace(\\\"da\\\",\\\"ws/da\\\");\\n\\n        function wsConnect() {\\n            console.log(\\\"connect\\\",wsUri);\\n            ws = new WebSocket(wsUri);\\n            //var line = \\\"\\\";    // either uncomment this for a building list of messages\\n        \\n            \\n        }\\n        function doit(m) {\\n            if (ws) { ws.send(m); }\\n        }\\n        \\n\\n        \\n    </script>\\n    </head>\\n    <body \\n    onload=\\\"wsConnect();\\\" \\n    onunload=\\\"ws.disconnect();\\\" \\n    \\n    >\\n        \\n\\n        \\n        <div id=\\\"OUT\\\">\\n        <h style=\\\"font-size:50px\\\">Outputs</h>\\n        <br>\\n        <h style=\\\"font-size:30px\\\">LEDs</h>\\n        <button style=\\\"font-size:20px; background:white; width:70px; color: black  \\\" type=\\\"button\\\" onclick='doit(\\\"on_yellow\\\");'>ON</button>\\n        <button style=\\\"font-size:20px; background:black; width:70px; color: white \\\" type=\\\"button\\\" onclick='doit(\\\"off_yellow\\\");'>OFF</button>\\n        </div>\\n\\n\\n       \\n        \\n\\n        \\n<div id=\\\"IN\\\">\\n    <h style=\\\"font-size:50px\\\">Inputs</h>\\n        <div id=\\\"data\\\">\\n        ... Loading ...\\n        </div>\\n</div>\\n\\n\\n<script>\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://192.168.1.27:1880/simple\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },2000);\\n</script>\\n</body>\\n</html>\",\"x\":859,\"y\":653.111083984375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"78c31fc2.8546d\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"CSS\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#data{\\ntext-align:center;\\nfont-size:30px;\\ncolor:black;\\nfont-style:bold;\\n\\n}\\n#OUT{\\n    text-align:center;\\n    width:400px;\\n    float:left;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    \\n    margin:10px;\\n}\\n#IN{\\n    width:400px;\\n    float:left;\\n    text-align:center;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    margin:10px;\\n}\",\"x\":724,\"y\":653,\"wires\":[[\"d9198d06.7a2ef\"]]},{\"id\":\"65aae1c.deaaa2\",\"type\":\"trigger\",\"z\":\"861bae79.5ca62\",\"op1\":\"1\",\"op2\":\"0\",\"op1type\":\"num\",\"op2type\":\"num\",\"duration\":\"3\",\"extend\":true,\"units\":\"s\",\"reset\":\"\",\"name\":\"\",\"x\":371,\"y\":259,\"wires\":[[\"fefc88ae.45b5b8\"]]},{\"id\":\"e137ec59.6af26\",\"type\":\"websocket-listener\",\"z\":\"\",\"path\":\"/ws/da\",\"wholemsg\":\"false\"}]","x":175,"y":264,"wires":[]},{"id":"a03202d.6d099","type":"comment","z":"6a4a9307.66377c","name":"Final Project Sketch","info":"[{\"id\":\"861bae79.5ca62\",\"type\":\"tab\",\"label\":\"In-Out Website\"},{\"id\":\"35afd45c.3dbddc\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Display Inputs\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"\\n<div>\\nMotion Sensor: {{data.motion_sensor}} \\n\\n</div>\\n\\n\",\"x\":830,\"y\":375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"f2859574.673d88\",\"type\":\"websocket in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"server\":\"e137ec59.6af26\",\"client\":\"\",\"x\":183,\"y\":177,\"wires\":[[\"dbfbbb6b.d26908\"]]},{\"id\":\"dbfbbb6b.d26908\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Mask Output\",\"func\":\"if (msg.payload == \\\"on_yellow\\\")\\n{\\n    msg.payload = 1;\\n}\\nif (msg.payload == \\\"off_yellow\\\")\\n{\\n    msg.payload = 0;\\n}\\n\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":376,\"y\":174,\"wires\":[[\"24704173.4e228e\"]]},{\"id\":\"24704173.4e228e\",\"type\":\"rpi-gpio out\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"pin\":\"15\",\"set\":true,\"level\":\"0\",\"out\":\"out\",\"x\":573,\"y\":177,\"wires\":[]},{\"id\":\"889cd636.d4b728\",\"type\":\"rpi-gpio in\",\"z\":\"861bae79.5ca62\",\"name\":\"Motion Sensor\",\"pin\":\"7\",\"intype\":\"up\",\"debounce\":\"25\",\"read\":true,\"x\":195,\"y\":259,\"wires\":[[\"65aae1c.deaaa2\"]]},{\"id\":\"fefc88ae.45b5b8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Mask Input\",\"func\":\"msg.topic = \\\"motion_sensor\\\";\\nif (msg.payload === 0) {msg.payload = \\\"Clear\\\";}\\nelse {msg.payload = \\\"Intruder\\\";}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":541,\"y\":259,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"df8ec534.7f1fb8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n\\n    case \\\"motion_sensor\\\":\\n        context.data.motion_sensor = msg.payload;\\n        msg = null;\\n        break;\\n    \\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":653,\"y\":375.111083984375,\"wires\":[[\"35afd45c.3dbddc\"]]},{\"id\":\"1435ac75.7dafd4\",\"type\":\"http response\",\"z\":\"861bae79.5ca62\",\"name\":\"http out\",\"x\":1094,\"y\":520.1111145019531,\"wires\":[]},{\"id\":\"ffc6cca.4126d3\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/da\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":379,\"y\":652.111083984375,\"wires\":[[\"963b80af.b13a3\"]]},{\"id\":\"cded739b.362b6\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/simple\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":385,\"y\":430.111083984375,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"d9198d06.7a2ef\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"HTML\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"<!DOCTYPE HTML>\\n<html>\\n    <head>\\n    <style>{{{payload.style}}}</style>\\n    <script>{{{payload.script}}}</script>\\n    <title>Website</title>\\n    \\n</head>\\n    <body  onload=\\\"wsConnect();\\\" onunload=\\\"ws.disconnect();\\\" >\\n        \\n\\n        \\n        <div id=\\\"OUT\\\">\\n            \\n             <h style=\\\"font-size:50px\\\">Outputs</h>\\n             <br>\\n             <h style=\\\"font-size:30px\\\">LEDs</h>\\n             <button style=\\\"font-size:20px; background:white; width:70px; color: black  \\\" type=\\\"button\\\" onclick='doit(\\\"on_yellow\\\");'>ON</button>\\n             <button style=\\\"font-size:20px; background:black; width:70px; color: white \\\" type=\\\"button\\\" onclick='doit(\\\"off_yellow\\\");'>OFF</button>\\n        \\n        </div>\\n\\n\\n        <div id=\\\"IN\\\">\\n            \\n            <h style=\\\"font-size:50px\\\">Inputs</h>\\n            \\n              <div id=\\\"data\\\">\\n                    ... Loading ...\\n              </div>\\n              \\n        </div>\\n\\n\\n\\n</body>\\n</html>\",\"x\":859,\"y\":653.111083984375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"78c31fc2.8546d\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"CSS\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#data{\\ntext-align:left;\\nfont-size:30px;\\ncolor:black;\\nfont-style:bold;\\nposition:relative;\\nleft:60px;\\n\\n}\\n#OUT{\\n    text-align:center;\\n    width:400px;\\n    float:left;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    background-color:#fc9797;\\n    margin:10px;\\n    padding-bottom:10px;\\n}\\n#IN{\\n    width:400px;\\n    float:left;\\n    text-align:center;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    margin:10px;\\n    background-color:#cef29f;\\n    padding-bottom:10px;\\n}\",\"x\":724,\"y\":653,\"wires\":[[\"d9198d06.7a2ef\"]]},{\"id\":\"65aae1c.deaaa2\",\"type\":\"trigger\",\"z\":\"861bae79.5ca62\",\"op1\":\"1\",\"op2\":\"0\",\"op1type\":\"num\",\"op2type\":\"num\",\"duration\":\"3\",\"extend\":true,\"units\":\"s\",\"reset\":\"\",\"name\":\"\",\"x\":371,\"y\":259,\"wires\":[[\"fefc88ae.45b5b8\"]]},{\"id\":\"963b80af.b13a3\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Java Script\",\"field\":\"payload.script\",\"fieldType\":\"msg\",\"format\":\"javascript\",\"syntax\":\"mustache\",\"template\":\"    //To connect inputs\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://192.168.1.27:1880/simple\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },1000);\\n\\n\\n\\n     //To connect outputs\\n        var ws;\\n        var wsUri = \\\"ws:\\\";\\n        var loc = window.location;\\n        console.log(loc);\\n        if (loc.protocol === \\\"https:\\\") { wsUri = \\\"wss:\\\"; }\\n        // This needs to point to the web socket in the Node-RED flow\\n        // ... in this case it's ws/simple\\n        wsUri += \\\"//\\\" + loc.host + loc.pathname.replace(\\\"da\\\",\\\"ws/da\\\");\\n\\n        function wsConnect() {\\n            console.log(\\\"connect\\\",wsUri);\\n            ws = new WebSocket(wsUri);\\n            //var line = \\\"\\\";    // either uncomment this for a building list of messages\\n        \\n            \\n        }\\n        function doit(m) {\\n            if (ws) { ws.send(m); }\\n        }\\n        \\n\\n        \\n\",\"x\":568,\"y\":653,\"wires\":[[\"78c31fc2.8546d\"]]},{\"id\":\"e137ec59.6af26\",\"type\":\"websocket-listener\",\"z\":\"\",\"path\":\"/ws/da\",\"wholemsg\":\"false\"}]","x":159,"y":323,"wires":[]}]


[{"id":"6a4a9307.66377c","type":"tab","label":"Import Library"},{"id":"b340a849.2b7048","type":"comment","z":"6a4a9307.66377c","name":"IN TO HTML","info":"[{\"id\":\"58eaa73f.083238\",\"type\":\"tab\",\"label\":\"In To HTML\"},{\"id\":\"1b4cc82c.b8f5f8\",\"type\":\"http response\",\"z\":\"58eaa73f.083238\",\"name\":\"http out\",\"x\":702,\"y\":207.11111450195312,\"wires\":[]},{\"id\":\"914b0be2.927d48\",\"type\":\"http in\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"url\":\"/data\",\"method\":\"get\",\"x\":115,\"y\":231.11111450195312,\"wires\":[[\"3e81e1a7.60200e\"]]},{\"id\":\"b1dd7074.7fe1a\",\"type\":\"template\",\"z\":\"58eaa73f.083238\",\"name\":\"Page Template\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"<html>\\n    <head>\\n        <title>Inputs TO Web</title>\\n        <style> {{{payload.style}}} </style>\\n    </head>\\n    \\n    <body>\\n<div id=\\\"Data\\\">\\nHello there <br />\\n\\nAltitude: {{data.altitude}}<br />\\nConcavity: {{data.concavity}}\\n</div>\\n    </body>\\n</html>\",\"x\":582,\"y\":111.11111450195312,\"wires\":[[\"1b4cc82c.b8f5f8\",\"f4c74f9b.fe102\"]]},{\"id\":\"1798a3c9.00432c\",\"type\":\"inject\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"topic\":\"concavity\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"2\",\"crontab\":\"\",\"once\":false,\"x\":139,\"y\":131.11111450195312,\"wires\":[[\"3e81e1a7.60200e\"]]},{\"id\":\"3e81e1a7.60200e\",\"type\":\"function\",\"z\":\"58eaa73f.083238\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n    case \\\"concavity\\\":\\n        context.data.concavity = msg.payload;\\n        msg = null;\\n        break;\\n    case \\\"altitude\\\":\\n        context.data.altitude = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"x\":385,\"y\":112.11111450195312,\"wires\":[[\"21dd7493.eafdec\"]]},{\"id\":\"15ff8219.7291ee\",\"type\":\"inject\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"topic\":\"altitude\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"1\",\"crontab\":\"\",\"once\":true,\"x\":135,\"y\":93.11111450195312,\"wires\":[[\"3e81e1a7.60200e\"]]},{\"id\":\"b0b071f0.4fe29\",\"type\":\"http in\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"url\":\"/web\",\"method\":\"get\",\"x\":122,\"y\":348.1111145019531,\"wires\":[[\"6ee4e457.b9b48c\"]]},{\"id\":\"6ee4e457.b9b48c\",\"type\":\"template\",\"z\":\"58eaa73f.083238\",\"name\":\"Auto Update Script\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<script>\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://127.0.0.1:1880/data\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },2000);\\n</script>\\n<div id = 'data'>\\n ... Loading ...\\n</div>\\n\",\"x\":403,\"y\":348.1111145019531,\"wires\":[[\"1b4cc82c.b8f5f8\"]]},{\"id\":\"f4c74f9b.fe102\",\"type\":\"debug\",\"z\":\"58eaa73f.083238\",\"name\":\"\",\"active\":false,\"console\":\"false\",\"complete\":\"true\",\"x\":721.888916015625,\"y\":42,\"wires\":[]},{\"id\":\"e71dea95.c5b4a8\",\"type\":\"comment\",\"z\":\"58eaa73f.083238\",\"name\":\"Mask Inputs\",\"info\":\"This node gets the data from the inputs and masks\\nthem so that they can be displayed on the web.\",\"x\":390.5,\"y\":78,\"wires\":[]},{\"id\":\"493b9a97.478524\",\"type\":\"comment\",\"z\":\"58eaa73f.083238\",\"name\":\"HTML Code\",\"info\":\"\",\"x\":574,\"y\":78,\"wires\":[]},{\"id\":\"21dd7493.eafdec\",\"type\":\"template\",\"z\":\"58eaa73f.083238\",\"name\":\"CSS\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#Data\\n{\\n    background-color:blue;\\n    font-style:bold;\\n    color:white;\\n    font-size:40px;\\n}\",\"x\":470.5,\"y\":176,\"wires\":[[\"b1dd7074.7fe1a\"]]}]","x":106.5,"y":46,"wires":[]},{"id":"73ce9810.605098","type":"comment","z":"6a4a9307.66377c","name":"Mult-In 1-Out HTML","info":"[{\"id\":\"b19bcc3.6aa763\",\"type\":\"tab\",\"label\":\"Mult-In 1-Out HTML\"},{\"id\":\"c6fb8989.078af8\",\"type\":\"http in\",\"z\":\"b19bcc3.6aa763\",\"name\":\"http in\",\"url\":\"/random\",\"method\":\"get\",\"x\":141,\"y\":269,\"wires\":[[\"6516f53e.c54e4c\"]]},{\"id\":\"280f92db.61e74e\",\"type\":\"template\",\"z\":\"b19bcc3.6aa763\",\"name\":\"\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<meta http-equiv=\\\"refresh\\\" content=\\\"2\\\" />\\n<div style=\\\"color:blue; font-size:50px;\\\">Hello Random - {{ payload }}</div>\\n<script>\\n    'setTimeout(function(){ window.location.reload(1); }, 1000);\\n</script>\",\"x\":488.00006103515625,\"y\":167,\"wires\":[[\"4c3e2bd0.9245c4\"]]},{\"id\":\"4c3e2bd0.9245c4\",\"type\":\"http response\",\"z\":\"b19bcc3.6aa763\",\"name\":\"http response\",\"x\":641,\"y\":170.00003051757812,\"wires\":[]},{\"id\":\"dfe25c7.84499a\",\"type\":\"inject\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Inject1\",\"topic\":\"Topic1\",\"payload\":\"3,300\",\"payloadType\":\"str\",\"repeat\":\"\",\"crontab\":\"\",\"once\":true,\"x\":153.00003051757812,\"y\":120,\"wires\":[[\"6516f53e.c54e4c\"]]},{\"id\":\"6516f53e.c54e4c\",\"type\":\"function\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Random Fn\",\"func\":\"\\nif (msg.topic == \\\"Topic1\\\") {\\n\\n var d = msg.payload;\\n context.myValue = d+\\\"\\\";\\n msg.payload = context.myValue;\\n return [msg,null];\\n} \\n\\nif (msg.topic == \\\"Topic2\\\") {\\n\\n var d = msg.payload;\\n context.myValue = d+\\\"\\\";\\n msg.payload = context.myValue;\\n return [msg,null];\\n}else {\\n msg.payload = context.myValue||\\\"No Input\\\";\\n return [null,msg];\\n}\\n\\n\",\"outputs\":\"2\",\"noerr\":0,\"x\":351,\"y\":123,\"wires\":[[\"70a74559.1a896c\"],[\"280f92db.61e74e\"]]},{\"id\":\"70a74559.1a896c\",\"type\":\"debug\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Debug1\",\"active\":true,\"console\":\"false\",\"complete\":\"true\",\"x\":612.0000610351562,\"y\":107,\"wires\":[]},{\"id\":\"cad63bea.64b8c8\",\"type\":\"inject\",\"z\":\"b19bcc3.6aa763\",\"name\":\"Inject2\",\"topic\":\"Topic2\",\"payload\":\"TEST\",\"payloadType\":\"str\",\"repeat\":\"\",\"crontab\":\"\",\"once\":true,\"x\":120.5,\"y\":168,\"wires\":[[\"6516f53e.c54e4c\"]]}]","x":127.5,"y":92,"wires":[]},{"id":"5e0fe983.9d0468","type":"comment","z":"6a4a9307.66377c","name":"Motion Sensor","info":"[{\"id\":\"c30fd855.4c9d08\",\"type\":\"tab\",\"label\":\"Motion Sensor\"},{\"id\":\"8c5ec51e.94c2d8\",\"type\":\"rpi-gpio in\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"pin\":\"36\",\"intype\":\"up\",\"debounce\":\"200\",\"read\":false,\"x\":143,\"y\":147,\"wires\":[[\"cf1b09d9.7813a8\",\"560d3589.99e17c\",\"73b6de4a.a05a3\"]]},{\"id\":\"cf1b09d9.7813a8\",\"type\":\"debug\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"active\":true,\"console\":\"false\",\"complete\":\"false\",\"x\":575,\"y\":159,\"wires\":[]},{\"id\":\"560d3589.99e17c\",\"type\":\"rpi-gpio out\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"pin\":\"13\",\"set\":\"\",\"level\":\"0\",\"out\":\"out\",\"x\":259,\"y\":337,\"wires\":[]},{\"id\":\"73b6de4a.a05a3\",\"type\":\"function\",\"z\":\"c30fd855.4c9d08\",\"name\":\"\",\"func\":\"if (msg.payload == 1) {\\n    \\n    msg.payload = \\\"Intruder\\\"\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":371,\"y\":242,\"wires\":[[]]}]","x":122,"y":141,"wires":[]},{"id":"3b11f363.4506cc","type":"comment","z":"6a4a9307.66377c","name":"IN-OUT WEBSITE","info":"[{\"id\":\"861bae79.5ca62\",\"type\":\"tab\",\"label\":\"In-Out Website\"},{\"id\":\"35afd45c.3dbddc\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Simple Web Page\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"\\n<div>\\nMotion Sensor: {{data.motion_sensor}}\\n</div>\\n\\n\",\"x\":840,\"y\":375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"f2859574.673d88\",\"type\":\"websocket in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"server\":\"e137ec59.6af26\",\"client\":\"\",\"x\":183,\"y\":177,\"wires\":[[\"dbfbbb6b.d26908\"]]},{\"id\":\"dbfbbb6b.d26908\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"if (msg.payload == \\\"on_yellow\\\")\\n{\\n    msg.payload = 1;\\n}\\nif (msg.payload == \\\"off_yellow\\\")\\n{\\n    msg.payload = 0;\\n}\\n\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":379,\"y\":174,\"wires\":[[\"24704173.4e228e\"]]},{\"id\":\"24704173.4e228e\",\"type\":\"rpi-gpio out\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"pin\":\"15\",\"set\":true,\"level\":\"0\",\"out\":\"out\",\"x\":557,\"y\":176,\"wires\":[]},{\"id\":\"889cd636.d4b728\",\"type\":\"rpi-gpio in\",\"z\":\"861bae79.5ca62\",\"name\":\"Motion Sensor\",\"pin\":\"7\",\"intype\":\"up\",\"debounce\":\"25\",\"read\":true,\"x\":195,\"y\":259,\"wires\":[[\"65aae1c.deaaa2\"]]},{\"id\":\"fefc88ae.45b5b8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"msg.topic = \\\"motion_sensor\\\";\\nif (msg.payload === 0) {msg.payload = \\\"Clear\\\";}\\nelse {msg.payload = \\\"Intruder Detected\\\";}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":521,\"y\":259,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"df8ec534.7f1fb8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n\\n    case \\\"motion_sensor\\\":\\n        context.data.motion_sensor = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":651,\"y\":377.111083984375,\"wires\":[[\"35afd45c.3dbddc\"]]},{\"id\":\"1435ac75.7dafd4\",\"type\":\"http response\",\"z\":\"861bae79.5ca62\",\"name\":\"http out\",\"x\":1094,\"y\":520.1111145019531,\"wires\":[]},{\"id\":\"ffc6cca.4126d3\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/da\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":527,\"y\":664.111083984375,\"wires\":[[\"78c31fc2.8546d\"]]},{\"id\":\"cded739b.362b6\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/simple\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":473,\"y\":378.111083984375,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"d9198d06.7a2ef\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Auto Update Script\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<!DOCTYPE HTML>\\n<html>\\n    <head>\\n    <style>{{{payload.style}}}</style>\\n    <title>TURN LIGHT ON OR OFF</title>\\n    <script type=\\\"text/javascript\\\">\\n\\n     \\n        var ws;\\n        var wsUri = \\\"ws:\\\";\\n        var loc = window.location;\\n        console.log(loc);\\n        if (loc.protocol === \\\"https:\\\") { wsUri = \\\"wss:\\\"; }\\n        // This needs to point to the web socket in the Node-RED flow\\n        // ... in this case it's ws/simple\\n        wsUri += \\\"//\\\" + loc.host + loc.pathname.replace(\\\"da\\\",\\\"ws/da\\\");\\n\\n        function wsConnect() {\\n            console.log(\\\"connect\\\",wsUri);\\n            ws = new WebSocket(wsUri);\\n            //var line = \\\"\\\";    // either uncomment this for a building list of messages\\n        \\n            \\n        }\\n        function doit(m) {\\n            if (ws) { ws.send(m); }\\n        }\\n        \\n\\n        \\n    </script>\\n    </head>\\n    <body \\n    onload=\\\"wsConnect();\\\" \\n    onunload=\\\"ws.disconnect();\\\" \\n    \\n    >\\n        <font face=\\\"Arial\\\">\\n\\n        \\n        \\n        <h2>LED</h2>\\n        <button style=\\\"font-size:50px; background:#fcea4b; width:120px; padding:0px \\\" type=\\\"button\\\" onclick='doit(\\\"on_yellow\\\");'>ON</button>\\n        <button style=\\\"font-size:50px; background:#7f7306; width:120px; padding:0px\\\" type=\\\"button\\\" onclick='doit(\\\"off_yellow\\\");'>OFF</button>\\n        <br>\\n\\n\\n       \\n        <hr/>\\n\\n        </font>\\n<script>\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://192.168.1.27:1880/simple\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },2000);\\n</script>\\n<div id=\\\"data\\\">\\n ... Loading ...\\n</div>\\n</body>\\n</html>\\n\",\"x\":899,\"y\":653.111083984375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"78c31fc2.8546d\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#data{\\nfont-size:100px;\\ncolor:red;\\nfont-style:bold;\\n}\",\"x\":724,\"y\":696,\"wires\":[[\"d9198d06.7a2ef\"]]},{\"id\":\"65aae1c.deaaa2\",\"type\":\"trigger\",\"z\":\"861bae79.5ca62\",\"op1\":\"1\",\"op2\":\"0\",\"op1type\":\"num\",\"op2type\":\"num\",\"duration\":\"3\",\"extend\":true,\"units\":\"s\",\"reset\":\"\",\"name\":\"\",\"x\":371,\"y\":259,\"wires\":[[\"fefc88ae.45b5b8\"]]},{\"id\":\"e137ec59.6af26\",\"type\":\"websocket-listener\",\"z\":\"\",\"path\":\"/ws/da\",\"wholemsg\":\"false\"}]","x":146,"y":198,"wires":[]},{"id":"cca8cfd7.00a25","type":"comment","z":"6a4a9307.66377c","name":"IN-OUT WEBSITE CUSTOMIZED","info":"[{\"id\":\"861bae79.5ca62\",\"type\":\"tab\",\"label\":\"In-Out Website\"},{\"id\":\"35afd45c.3dbddc\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Simple Web Page\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"\\n<div>\\nMotion Sensor: {{data.motion_sensor}}\\n</div>\\n\\n\",\"x\":840,\"y\":375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"f2859574.673d88\",\"type\":\"websocket in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"server\":\"e137ec59.6af26\",\"client\":\"\",\"x\":183,\"y\":177,\"wires\":[[\"dbfbbb6b.d26908\"]]},{\"id\":\"dbfbbb6b.d26908\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"if (msg.payload == \\\"on_yellow\\\")\\n{\\n    msg.payload = 1;\\n}\\nif (msg.payload == \\\"off_yellow\\\")\\n{\\n    msg.payload = 0;\\n}\\n\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":379,\"y\":174,\"wires\":[[\"24704173.4e228e\"]]},{\"id\":\"24704173.4e228e\",\"type\":\"rpi-gpio out\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"pin\":\"15\",\"set\":true,\"level\":\"0\",\"out\":\"out\",\"x\":585,\"y\":169,\"wires\":[]},{\"id\":\"889cd636.d4b728\",\"type\":\"rpi-gpio in\",\"z\":\"861bae79.5ca62\",\"name\":\"Motion Sensor\",\"pin\":\"7\",\"intype\":\"up\",\"debounce\":\"25\",\"read\":true,\"x\":195,\"y\":259,\"wires\":[[\"65aae1c.deaaa2\"]]},{\"id\":\"fefc88ae.45b5b8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"func\":\"msg.topic = \\\"motion_sensor\\\";\\nif (msg.payload === 0) {msg.payload = \\\"Clear\\\";}\\nelse {msg.payload = \\\"Intruder\\\";}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":521,\"y\":259,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"df8ec534.7f1fb8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n\\n    case \\\"motion_sensor\\\":\\n        context.data.motion_sensor = msg.payload;\\n        msg = null;\\n        break;\\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":651,\"y\":377.111083984375,\"wires\":[[\"35afd45c.3dbddc\"]]},{\"id\":\"1435ac75.7dafd4\",\"type\":\"http response\",\"z\":\"861bae79.5ca62\",\"name\":\"http out\",\"x\":1094,\"y\":520.1111145019531,\"wires\":[]},{\"id\":\"ffc6cca.4126d3\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/da\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":527,\"y\":664.111083984375,\"wires\":[[\"78c31fc2.8546d\"]]},{\"id\":\"cded739b.362b6\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/simple\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":473,\"y\":378.111083984375,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"d9198d06.7a2ef\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"HTML\",\"field\":\"payload\",\"fieldType\":\"msg\",\"syntax\":\"mustache\",\"template\":\"<!DOCTYPE HTML>\\n<html>\\n    <head>\\n    <style>{{{payload.style}}}</style>\\n    <title>TURN LIGHT ON OR OFF</title>\\n    <script type=\\\"text/javascript\\\">\\n\\n     \\n        var ws;\\n        var wsUri = \\\"ws:\\\";\\n        var loc = window.location;\\n        console.log(loc);\\n        if (loc.protocol === \\\"https:\\\") { wsUri = \\\"wss:\\\"; }\\n        // This needs to point to the web socket in the Node-RED flow\\n        // ... in this case it's ws/simple\\n        wsUri += \\\"//\\\" + loc.host + loc.pathname.replace(\\\"da\\\",\\\"ws/da\\\");\\n\\n        function wsConnect() {\\n            console.log(\\\"connect\\\",wsUri);\\n            ws = new WebSocket(wsUri);\\n            //var line = \\\"\\\";    // either uncomment this for a building list of messages\\n        \\n            \\n        }\\n        function doit(m) {\\n            if (ws) { ws.send(m); }\\n        }\\n        \\n\\n        \\n    </script>\\n    </head>\\n    <body \\n    onload=\\\"wsConnect();\\\" \\n    onunload=\\\"ws.disconnect();\\\" \\n    \\n    >\\n        \\n\\n        \\n        <div id=\\\"OUT\\\">\\n        <h style=\\\"font-size:50px\\\">Outputs</h>\\n        <br>\\n        <h style=\\\"font-size:30px\\\">LEDs</h>\\n        <button style=\\\"font-size:20px; background:white; width:70px; color: black  \\\" type=\\\"button\\\" onclick='doit(\\\"on_yellow\\\");'>ON</button>\\n        <button style=\\\"font-size:20px; background:black; width:70px; color: white \\\" type=\\\"button\\\" onclick='doit(\\\"off_yellow\\\");'>OFF</button>\\n        </div>\\n\\n\\n       \\n        \\n\\n        \\n<div id=\\\"IN\\\">\\n    <h style=\\\"font-size:50px\\\">Inputs</h>\\n        <div id=\\\"data\\\">\\n        ... Loading ...\\n        </div>\\n</div>\\n\\n\\n<script>\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://192.168.1.27:1880/simple\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },2000);\\n</script>\\n</body>\\n</html>\",\"x\":859,\"y\":653.111083984375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"78c31fc2.8546d\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"CSS\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#data{\\ntext-align:center;\\nfont-size:30px;\\ncolor:black;\\nfont-style:bold;\\n\\n}\\n#OUT{\\n    text-align:center;\\n    width:400px;\\n    float:left;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    \\n    margin:10px;\\n}\\n#IN{\\n    width:400px;\\n    float:left;\\n    text-align:center;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    margin:10px;\\n}\",\"x\":724,\"y\":653,\"wires\":[[\"d9198d06.7a2ef\"]]},{\"id\":\"65aae1c.deaaa2\",\"type\":\"trigger\",\"z\":\"861bae79.5ca62\",\"op1\":\"1\",\"op2\":\"0\",\"op1type\":\"num\",\"op2type\":\"num\",\"duration\":\"3\",\"extend\":true,\"units\":\"s\",\"reset\":\"\",\"name\":\"\",\"x\":371,\"y\":259,\"wires\":[[\"fefc88ae.45b5b8\"]]},{\"id\":\"e137ec59.6af26\",\"type\":\"websocket-listener\",\"z\":\"\",\"path\":\"/ws/da\",\"wholemsg\":\"false\"}]","x":175,"y":264,"wires":[]},{"id":"a03202d.6d099","type":"comment","z":"6a4a9307.66377c","name":"Final Project Sketch","info":"[{\"id\":\"861bae79.5ca62\",\"type\":\"tab\",\"label\":\"In-Out Website\"},{\"id\":\"35afd45c.3dbddc\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Display Inputs\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"\\n<div>\\nMotion Sensor: {{data.motion_sensor}} <br>\\nLED: {{data.led}}\\n</div>\\n\\n\",\"x\":995,\"y\":381,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"f2859574.673d88\",\"type\":\"websocket in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"server\":\"e137ec59.6af26\",\"client\":\"\",\"x\":183,\"y\":177,\"wires\":[[\"dbfbbb6b.d26908\"]]},{\"id\":\"dbfbbb6b.d26908\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Mask Output\",\"func\":\"if (msg.payload == \\\"on_yellow\\\")\\n{\\n    msg.payload = 1;\\n}\\nif (msg.payload == \\\"off_yellow\\\")\\n{\\n    msg.payload = 0;\\n}\\n\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":376,\"y\":174,\"wires\":[[\"24704173.4e228e\",\"b8666b84.d94f68\"]]},{\"id\":\"24704173.4e228e\",\"type\":\"rpi-gpio out\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"pin\":\"15\",\"set\":true,\"level\":\"0\",\"out\":\"out\",\"x\":573,\"y\":177,\"wires\":[]},{\"id\":\"889cd636.d4b728\",\"type\":\"rpi-gpio in\",\"z\":\"861bae79.5ca62\",\"name\":\"Motion Sensor\",\"pin\":\"7\",\"intype\":\"up\",\"debounce\":\"25\",\"read\":true,\"x\":195,\"y\":259,\"wires\":[[\"65aae1c.deaaa2\"]]},{\"id\":\"fefc88ae.45b5b8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Mask Input\",\"func\":\"msg.topic = \\\"motion_sensor\\\";\\nif (msg.payload === 0) {msg.payload = \\\"Clear\\\";}\\nelse {msg.payload = \\\"Intruder\\\";}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":558,\"y\":259,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"df8ec534.7f1fb8\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Data buffer\",\"func\":\"context.data = context.data || new Object();\\nswitch (msg.topic) {\\n\\n    case \\\"motion_sensor\\\":\\n        context.data.motion_sensor = msg.payload;\\n        msg = null;\\n        break;\\n    \\n    case \\\"led\\\":\\n        context.data.led = msg.payload;\\n        msg = null;\\n        break;\\n    \\n    default:\\n    \\tmsg.data = context.data;\\n}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":753,\"y\":381.111083984375,\"wires\":[[\"35afd45c.3dbddc\"]]},{\"id\":\"1435ac75.7dafd4\",\"type\":\"http response\",\"z\":\"861bae79.5ca62\",\"name\":\"http out\",\"x\":1094,\"y\":520.1111145019531,\"wires\":[]},{\"id\":\"ffc6cca.4126d3\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/da\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":191,\"y\":649.111083984375,\"wires\":[[\"963b80af.b13a3\"]]},{\"id\":\"cded739b.362b6\",\"type\":\"http in\",\"z\":\"861bae79.5ca62\",\"name\":\"\",\"url\":\"/simple\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":374,\"y\":512.111083984375,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"d9198d06.7a2ef\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"HTML\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"<!DOCTYPE HTML>\\n<html>\\n    <head>\\n    <style>{{{payload.style}}}</style>\\n    <script>{{{payload.script}}}</script>\\n    <title>Website</title>\\n    \\n</head>\\n    <body  onload=\\\"wsConnect();\\\" onunload=\\\"ws.disconnect();\\\" >\\n        \\n\\n        \\n        <div id=\\\"OUT\\\">\\n            \\n                    <h style=\\\"font-size:50px\\\">Outputs</h>\\n                      <br>\\n                    <h style=\\\"font-size:30px\\\">LEDs</h>\\n                        <button style=\\\"font-size:20px; background:white; width:70px; color: black  \\\" type=\\\"button\\\" onclick='doit(\\\"on_yellow\\\");'>ON</button>\\n                        <button style=\\\"font-size:20px; background:black; width:70px; color: white \\\" type=\\\"button\\\" onclick='doit(\\\"off_yellow\\\");'>OFF</button>\\n        \\n        </div>\\n\\n\\n        <div id=\\\"IN\\\">\\n            \\n            <h style=\\\"font-size:50px\\\">Inputs</h>\\n            \\n              <div id=\\\"data\\\">\\n                    ... Loading ...\\n              </div>\\n              \\n        </div>\\n\\n\\n\\n</body>\\n</html>\",\"x\":959,\"y\":653.111083984375,\"wires\":[[\"1435ac75.7dafd4\"]]},{\"id\":\"78c31fc2.8546d\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"CSS\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"#data{\\ntext-align:left;\\nfont-size:30px;\\ncolor:black;\\nfont-style:bold;\\nposition:relative;\\nleft:60px;\\n\\n}\\n#OUT{\\n    text-align:center;\\n    width:400px;\\n    float:left;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    background-color:#fc9797;\\n    margin:10px;\\n    padding-bottom:10px;\\n}\\n#IN{\\n    width:400px;\\n    float:left;\\n    text-align:center;\\n    border-style: solid;\\n    border-width: 2px;\\n    border-radius:5px;\\n    border-color:blue;\\n    margin:10px;\\n    background-color:#cef29f;\\n    padding-bottom:10px;\\n}\",\"x\":710,\"y\":652,\"wires\":[[\"d9198d06.7a2ef\"]]},{\"id\":\"65aae1c.deaaa2\",\"type\":\"trigger\",\"z\":\"861bae79.5ca62\",\"op1\":\"1\",\"op2\":\"0\",\"op1type\":\"num\",\"op2type\":\"num\",\"duration\":\"3\",\"extend\":true,\"units\":\"s\",\"reset\":\"\",\"name\":\"\",\"x\":371,\"y\":259,\"wires\":[[\"fefc88ae.45b5b8\"]]},{\"id\":\"963b80af.b13a3\",\"type\":\"template\",\"z\":\"861bae79.5ca62\",\"name\":\"Java Script\",\"field\":\"payload.script\",\"fieldType\":\"msg\",\"format\":\"javascript\",\"syntax\":\"mustache\",\"template\":\"    //To connect inputs\\n    setInterval(function(){\\t\\n\\t    var theUrl = \\\"http://10.252.82.104:1880/simple\\\";\\n\\t    var xmlHttp = new XMLHttpRequest();\\n\\t    xmlHttp.open( \\\"GET\\\", theUrl, false );\\n\\t    xmlHttp.send( null );\\n\\t    document. getElementById('data')\\n\\t    \\t.innerHTML = xmlHttp.responseText;\\n    },1000);\\n\\n\\n\\n     //To connect outputs\\n        var ws;\\n        var wsUri = \\\"ws:\\\";\\n        var loc = window.location;\\n        console.log(loc);\\n        if (loc.protocol === \\\"https:\\\") { wsUri = \\\"wss:\\\"; }\\n        // This needs to point to the web socket in the Node-RED flow\\n        // ... in this case it's ws/simple\\n        wsUri += \\\"//\\\" + loc.host + loc.pathname.replace(\\\"da\\\",\\\"ws/da\\\");\\n\\n        function wsConnect() {\\n            console.log(\\\"connect\\\",wsUri);\\n            ws = new WebSocket(wsUri);\\n            //var line = \\\"\\\";    // either uncomment this for a building list of messages\\n        \\n            \\n        }\\n        function doit(m) {\\n            if (ws) { ws.send(m); }\\n        }\\n        \\n\\n        \\n\",\"x\":451,\"y\":652,\"wires\":[[\"78c31fc2.8546d\"]]},{\"id\":\"a388045f.fce4c8\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"Turn ON/OFF LED\",\"info\":\"This node masks the payload coming from the website\\nto turn on/off the LED.\",\"x\":382,\"y\":136,\"wires\":[]},{\"id\":\"3fe5867.c5d717a\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"Create Delay\",\"info\":\"This node is used to create a delay.\",\"x\":373,\"y\":223,\"wires\":[]},{\"id\":\"9ea98d9a.9c80d\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"Mask Payload for Motion Sensor\",\"info\":\"If motion sensor detects movement (1), it changes the\\npayload to \\\"Intruder\\\".\\n\\nIf motion sensor DOESN'T detect movement (0), it \\nchanges the payload to \\\"Clear\\\"\\n\\nIn addition, on the first line:\\n\\nmsg.topic = \\\"motion_sensor\\\";\\n\\nIt sets the topic for the motion sensor to \\n\\\"motion_sensor\\\". This will be used on the next node\\nto send the payload to the website.\",\"x\":607,\"y\":224,\"wires\":[]},{\"id\":\"9c5e5e01.2e466\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"Sends inputs to Website\",\"info\":\"These are the lines that you would need to pay\\nattention to: \\n\\n case \\\"motion_sensor\\\":\\n        context.data.motion_sensor = msg.payload;\\n        msg = null;\\n        break;\\n        \\n        \\nline 4 looks for the topic \\\"motion_sensor\\\"\\nline 5 saves the payload from that topic into \\n\\\"context.data.motion_sensor\\\" which is a location\\nthat the website can read.\\n\\nTo add more inputs you would just need to copy and \\npaste lines 4 through 7 and modify the code accordingly\",\"x\":758,\"y\":344,\"wires\":[]},{\"id\":\"df2c25b7.579dd8\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"Create inputs section\",\"info\":\"This node creates the <div> where all the inputs\\nwill be displayed.\",\"x\":991,\"y\":343,\"wires\":[]},{\"id\":\"157d57d6.aafcd8\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"Functioning of the Website\",\"info\":\"Pay close attention to line 3 on this node. It says:\\n\\nvar theUrl = \\\"http://10.252.82.104:1880/simple\\\";\\n\\nYou will have to change it to your IP address in order\\nfor the website to work properly.\",\"x\":447,\"y\":613,\"wires\":[]},{\"id\":\"8b245c9d.1ea09\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"Style of the website\",\"info\":\"This node adds the style for the two sections of the \\nwebsite.\",\"x\":716,\"y\":607,\"wires\":[]},{\"id\":\"1453eeca.50ed21\",\"type\":\"comment\",\"z\":\"861bae79.5ca62\",\"name\":\"HTML Code\",\"info\":\"\",\"x\":939,\"y\":609,\"wires\":[]},{\"id\":\"b8666b84.d94f68\",\"type\":\"function\",\"z\":\"861bae79.5ca62\",\"name\":\"Mask Input\",\"func\":\"msg.topic = \\\"led\\\";\\nif (msg.payload === 0) {msg.payload = \\\"OFF\\\";}\\nelse {msg.payload = \\\"ON\\\";}\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":393,\"y\":369,\"wires\":[[\"df8ec534.7f1fb8\"]]},{\"id\":\"e137ec59.6af26\",\"type\":\"websocket-listener\",\"z\":\"\",\"path\":\"/ws/da\",\"wholemsg\":\"false\"}]","x":159,"y":323,"wires":[]},{"id":"e8bf9f93.5b382","type":"comment","z":"6a4a9307.66377c","name":"Traffic Lights","info":"[{\"id\":\"7cff0b69.56b484\",\"type\":\"tab\",\"label\":\"Traffic Lights\"},{\"id\":\"6003a28b.3039fc\",\"type\":\"rpi-gpio in\",\"z\":\"7cff0b69.56b484\",\"name\":\"Motion Sensor\",\"pin\":\"7\",\"intype\":\"up\",\"debounce\":\"25\",\"read\":true,\"x\":111,\"y\":131,\"wires\":[[\"c6c0efbb.c0e13\",\"43f6d785.001628\",\"5fc736cf.87d338\",\"b844fc31.b3c53\"]]},{\"id\":\"4ac0c92e.e50c58\",\"type\":\"rpi-gpio out\",\"z\":\"7cff0b69.56b484\",\"name\":\"Green LED\",\"pin\":\"11\",\"set\":\"\",\"level\":\"0\",\"out\":\"out\",\"x\":753,\"y\":287,\"wires\":[]},{\"id\":\"c6c0efbb.c0e13\",\"type\":\"rpi-gpio out\",\"z\":\"7cff0b69.56b484\",\"name\":\"Red Light\",\"pin\":\"13\",\"set\":\"\",\"level\":\"0\",\"out\":\"out\",\"x\":747.0000610351562,\"y\":166.00001525878906,\"wires\":[]},{\"id\":\"43f6d785.001628\",\"type\":\"function\",\"z\":\"7cff0b69.56b484\",\"name\":\"inverter\",\"func\":\"if (msg.payload === 0 )\\n    msg.payload = 1;\\n    \\nelse\\n    msg.payload = 0;\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":400,\"y\":246,\"wires\":[[\"4ac0c92e.e50c58\"]]},{\"id\":\"5fc736cf.87d338\",\"type\":\"trigger\",\"z\":\"7cff0b69.56b484\",\"op1\":\"Intruder\",\"op2\":\"Clear\",\"op1type\":\"str\",\"op2type\":\"str\",\"duration\":\"3\",\"extend\":true,\"units\":\"s\",\"reset\":\"\",\"name\":\"\",\"x\":234,\"y\":355,\"wires\":[[\"6c9ce46a.eafebc\"]]},{\"id\":\"b844fc31.b3c53\",\"type\":\"function\",\"z\":\"7cff0b69.56b484\",\"name\":\"Payload Mask\",\"func\":\"if (msg.payload === 0 )\\n    msg.payload = \\\"Empty\\\";\\n    \\nelse\\n    msg.payload = \\\"Danger\\\";\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":240,\"y\":474,\"wires\":[[]]},{\"id\":\"6c9ce46a.eafebc\",\"type\":\"play audio\",\"z\":\"7cff0b69.56b484\",\"name\":\"Alarm\",\"voice\":\"21\",\"x\":568,\"y\":474,\"wires\":[]}]","x":134,"y":395,"wires":[]},{"id":"3fcfe4e4.80528c","type":"comment","z":"6a4a9307.66377c","name":"TextBox Website","info":"[{\"id\":\"d29afc05.63fef\",\"type\":\"tab\",\"label\":\"Flow 5\"},{\"id\":\"260d3658.f0da2a\",\"type\":\"http in\",\"z\":\"d29afc05.63fef\",\"name\":\"\",\"url\":\"/mysite\",\"method\":\"get\",\"swaggerDoc\":\"\",\"x\":201,\"y\":241,\"wires\":[[\"e0cd1a12.bc1af8\"]]},{\"id\":\"ee865143.0eef8\",\"type\":\"http in\",\"z\":\"d29afc05.63fef\",\"name\":\"\",\"url\":\"/mysitepost\",\"method\":\"post\",\"swaggerDoc\":\"\",\"x\":199,\"y\":655,\"wires\":[[\"54254e5c.0dc3b\"]]},{\"id\":\"e0cd1a12.bc1af8\",\"type\":\"function\",\"z\":\"d29afc05.63fef\",\"name\":\"msg.url = \\\"mysitepost\\\";\",\"func\":\"msg.url = \\\"mysitepost\\\";\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":441,\"y\":241,\"wires\":[[\"29944f3a.97546\"]]},{\"id\":\"6ef298ca.7fe318\",\"type\":\"http response\",\"z\":\"d29afc05.63fef\",\"name\":\"\",\"x\":881,\"y\":401,\"wires\":[]},{\"id\":\"d544b2b.6539b5\",\"type\":\"template\",\"z\":\"d29afc05.63fef\",\"name\":\"CSS\",\"field\":\"payload.style\",\"fieldType\":\"msg\",\"format\":\"css\",\"syntax\":\"mustache\",\"template\":\"input[type=text], select \\n{\\n    width: 10%;\\n    padding: 12px 20px;\\n    margin: 8px 0;\\n    display: inline-block;\\n    border: 1px solid #ccc;\\n    border-radius: 4px;\\n    box-sizing: border-box;\\n}\\n\\ninput[type=submit] \\n{\\n    width: 25%;\\n    background-color: #4CAF50;\\n    color: white;\\n    padding: 14px 20px;\\n    margin: 8px 0;\\n    border: none;\\n    border-radius: 4px;\\n    cursor: pointer;\\n    \\n}\\n\\ninput[type=submit]:hover \\n{\\n    background-color: #45a049;\\n}\\n\\ndiv \\n{\\n    border-radius: 5px;\\n    background-color: #f2f2f2;\\n    padding: 10px;\\n    width:400px;\\n    text-align: center;\\n\\n}\\n\\n#Button\\n{\\n    width:150px; \\n    font-size:30px;\\n    padding:2px;\\n}\\n\\n#TextField\\n{\\n    font-size:30px; \\n    width:100px;\\n}\\n\\n#Heading\\n{\\n    font-size:30px;\\n}\",\"x\":601,\"y\":341,\"wires\":[[\"483cbfa0.1dcd6\"]]},{\"id\":\"29944f3a.97546\",\"type\":\"template\",\"z\":\"d29afc05.63fef\",\"name\":\"JavaScript\",\"field\":\"payload.script\",\"fieldType\":\"msg\",\"format\":\"javascript\",\"syntax\":\"plain\",\"template\":\"$(document).ready(function(e) {\\n    \\n    $(\\\"form[ajax=true]\\\").submit(function(e) {\\n        \\n        e.preventDefault();\\n        \\n        var form_data = $(this).serialize();\\n        var form_url = $(this).attr(\\\"action\\\");\\n        var form_method = $(this).attr(\\\"method\\\").toUpperCase();\\n        \\n        $(\\\"#loadingimg\\\").show();\\n        \\n        $.ajax({\\n            url: form_url, \\n            type: form_method,      \\n            data: form_data,     \\n            cache: false,\\n            success: function(returnhtml){                          \\n                $(\\\"#result\\\").html(returnhtml); \\n                $(\\\"#loadingimg\\\").hide();                    \\n            }           \\n        });    \\n        \\n    });\\n    \\n});\",\"x\":441,\"y\":341,\"wires\":[[\"d544b2b.6539b5\"]]},{\"id\":\"c4579351.3aa94\",\"type\":\"http response\",\"z\":\"d29afc05.63fef\",\"name\":\"\",\"x\":881,\"y\":341,\"wires\":[]},{\"id\":\"483cbfa0.1dcd6\",\"type\":\"template\",\"z\":\"d29afc05.63fef\",\"name\":\"HTML\",\"field\":\"payload\",\"fieldType\":\"msg\",\"format\":\"handlebars\",\"syntax\":\"mustache\",\"template\":\"<html>\\n  <head>\\n    <title>My Site</title>\\n\\n    <script src=\\\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\\\"></script>\\n    <style>{{{payload.style}}}</style>\\n  </head>\\n  \\n\\n<div>\\n    <h1>Solve 15+5 </h1>\\n    <br></br>\\n\\n  <form method=\\\"post\\\" action=\\\"/{{url}}\\\" ajax=\\\"true\\\">\\n    \\n    <label id=\\\"Heading\\\" for=\\\"fname\\\">Enter the right answer</label>\\n    <br>\\n    <input id=\\\"TextField\\\" type=\\\"text\\\" id=\\\"fname\\\" name=\\\"firstname\\\">\\n    <br>\\n    <label id=\\\"Heading\\\" for=\\\"fname\\\">Enter something</label>\\n    <br>\\n    <input id=\\\"TextField\\\" type=\\\"text\\\" id=\\\"fname\\\" name=\\\"secondname\\\">\\n\\n\\n  <br></br>\\n    <input id=\\\"Button\\\" type=\\\"submit\\\" value=\\\"Submit\\\">\\n  </form>\\n</div>\\n<div>\\n    <span style=\\\"font-size:60px; color:#008000\\\" id=\\\"result\\\"></span> \\n</div>\\n\\n</body>\\n</html>\\n<script>{{{payload.script}}}</script>\",\"x\":741,\"y\":341,\"wires\":[[\"c4579351.3aa94\"]]},{\"id\":\"2ed03ce9.def4d4\",\"type\":\"function\",\"z\":\"d29afc05.63fef\",\"name\":\"return msg.payload to client\",\"func\":\"msg.payload = 'Your answer is '+ msg.payload;\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":607,\"y\":418,\"wires\":[[\"6ef298ca.7fe318\"]]},{\"id\":\"9b260cc4.2593e\",\"type\":\"comment\",\"z\":\"d29afc05.63fef\",\"name\":\"Inject msg object properties\",\"info\":\"\",\"x\":459,\"y\":157,\"wires\":[]},{\"id\":\"87830921.b5cde8\",\"type\":\"comment\",\"z\":\"d29afc05.63fef\",\"name\":\"Website\",\"info\":\"\",\"x\":181,\"y\":161,\"wires\":[]},{\"id\":\"80b44df5.15652\",\"type\":\"comment\",\"z\":\"d29afc05.63fef\",\"name\":\"Node-RED Public Site - README\",\"info\":\"This Flow demonstrates how to create\\na simple frontend webpage with Node-RED.\\n\\nThe public facing page consists of the \\nclient side JavaScript, CSS and HTML. \\n\\nThe important technique is how the mustache \\ntemplates are used. Each template will set the\\n\\\"property\\\" relative to the content. \\n\\nThe CSS node sets the \\\"msg.payload.style\\\" property.\\nThe JavaScript node sets the \\\"msg.payload.script\\\" property.\\nThe HTML node then includes these properties \\n<script>{{{payload.script}}}</script>\\n<style>{{{payload.style}}}</style>\\n\\n\\nThis example was created by http://www.InternetofLEGO.com\\n\\n\",\"x\":511,\"y\":61,\"wires\":[]},{\"id\":\"27bed761.f97578\",\"type\":\"function\",\"z\":\"d29afc05.63fef\",\"name\":\"\",\"func\":\"if (msg.payload != 20)\\n\\n{ \\n    msg.payload = \\\"Incorrect\\\"\\n}\\nelse \\nmsg.payload = \\\"Correct\\\"\\n\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":474,\"y\":510,\"wires\":[[\"2ed03ce9.def4d4\"]]},{\"id\":\"54254e5c.0dc3b\",\"type\":\"function\",\"z\":\"d29afc05.63fef\",\"name\":\"\",\"func\":\"msg.payload  = msg.payload.firstname;\\nreturn msg;\",\"outputs\":1,\"noerr\":0,\"x\":345,\"y\":449,\"wires\":[[\"27bed761.f97578\"]]}]","x":151,"y":438,"wires":[]}]
