modified-node-red-website
[{"id":"fc06b18b.9dac","type":"tab","label":"Flow 5"},{"id":"8eb22a9c.e9ed98","type":"http in","z":"fc06b18b.9dac","name":"","url":"/mysite","method":"get","swaggerDoc":"","x":216,"y":351,"wires":[["a99586e5.d15838"]]},{"id":"8dddb208.f32a5","type":"http in","z":"fc06b18b.9dac","name":"","url":"/mysitepost","method":"post","swaggerDoc":"","x":220,"y":644,"wires":[["49a1f2fe.a1c6ac"]]},{"id":"a99586e5.d15838","type":"function","z":"fc06b18b.9dac","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":351,"wires":[["509fea1d.597a34"]]},{"id":"597ca381.b855fc","type":"debug","z":"fc06b18b.9dac","name":"mysitepost","active":true,"console":"false","complete":"payload","x":876,"y":551,"wires":[]},{"id":"de6c0c27.a297f","type":"http response","z":"fc06b18b.9dac","name":"","x":896,"y":511,"wires":[]},{"id":"42b33781.5f9d28","type":"template","z":"fc06b18b.9dac","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 10%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 25%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    \n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 10px;\n    width:400px;\n    text-align: center;\n\n}","x":616,"y":451,"wires":[["81c41af2.6b7648"]]},{"id":"509fea1d.597a34","type":"template","z":"fc06b18b.9dac","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":456,"y":451,"wires":[["42b33781.5f9d28"]]},{"id":"4ac24979.5b12d8","type":"http response","z":"fc06b18b.9dac","name":"","x":896,"y":451,"wires":[]},{"id":"81c41af2.6b7648","type":"template","z":"fc06b18b.9dac","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n<div>\n    <h1>Solve 15+5 </h1>\n    <br></br>\n\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label style=\"font-size:30px;\" for=\"fname\">Enter the right answer</label>\n    <br></br>\n    <input style=\"font-size:30px; width:100px;\" type=\"text\" id=\"fname\" name=\"firstname\">\n\n\n\n\n  <br></br>\n    <input style=\"width:150px; font-size:40px; padding:2px;\"type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span style=\"font-size:60px; color:#008000\" id=\"result\"></span> \n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":756,"y":451,"wires":[["4ac24979.5b12d8"]]},{"id":"e976369c.fb4958","type":"comment","z":"fc06b18b.9dac","name":"Login Form","info":"","x":416,"y":411,"wires":[]},{"id":"7993bc68.88c454","type":"function","z":"fc06b18b.9dac","name":"return msg.payload to client","func":"msg.payload = 'Your answer is '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":528,"wires":[["de6c0c27.a297f"]]},{"id":"2ba3ed32.e588f2","type":"comment","z":"fc06b18b.9dac","name":"Inject msg object properties","info":"","x":426,"y":311,"wires":[]},{"id":"4bf4dd6b.bd62c4","type":"json","z":"fc06b18b.9dac","name":"","x":380,"y":545,"wires":[[]]},{"id":"97212f22.82c6d","type":"comment","z":"fc06b18b.9dac","name":"Website","info":"","x":196,"y":271,"wires":[]},{"id":"36361bbe.44cd84","type":"comment","z":"fc06b18b.9dac","name":"Form Submission","info":"","x":226,"y":491,"wires":[]},{"id":"f880d20f.62ec1","type":"comment","z":"fc06b18b.9dac","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":526,"y":171,"wires":[]},{"id":"49a1f2fe.a1c6ac","type":"function","z":"fc06b18b.9dac","name":"","func":"msg.payload  = msg.payload.firstname\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":728,"wires":[["597ca381.b855fc","253f3e60.fc2132"]]},{"id":"253f3e60.fc2132","type":"function","z":"fc06b18b.9dac","name":"","func":"if (msg.payload != 20)\n\n{ \n    msg.payload = \"Incorrect\"\n}\nelse \nmsg.payload = \"Correct\"\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":634,"wires":[["7993bc68.88c454"]]}]
