node-red-code
[{"id":"402d4f98.f78de","type":"tab","label":"Flow 1"},{"id":"a362a03b.14f68","type":"http response","z":"402d4f98.f78de","name":"","x":572,"y":119,"wires":[]},{"id":"f0493095.6aa69","type":"http in","z":"402d4f98.f78de","name":"","url":"/simple","method":"get","swaggerDoc":"","x":203,"y":119,"wires":[["2cc46439.825b0c"]]},{"id":"2cc46439.825b0c","type":"template","z":"402d4f98.f78de","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>TURN LIGHT ON OR OFF</title>\n    <script type=\"text/javascript\">\n\n     \n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n        \n            \n        }\n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n        \n\n        \n    </script>\n    </head>\n    <body \n    onload=\"wsConnect();\" \n    onunload=\"ws.disconnect();\" \n    \n    >\n        <font face=\"Arial\">\n\n        \n        <div style=\"background-image:url('https://image.freepik.com/free-vector/abstract-background-with-a-watercolor-texture_1048-2144.jpg');width:300px;\">\n            \n\n\n        <h2>Green Light</h2>\n        <button style=\"font-size:50px; background:#75f961; width:120px; padding:0px\" type=\"button\" onclick='doit(\"hi_green\");'>ON</button>\n        <button style=\"font-size:50px; background:#37772d; width:120px; padding:0px\" type=\"button\" onclick='doit(\"off_green\");'>OFF</button>\n        <br>\n        <br>\n        <h2>Blue Light</h2>\n        <button style=\"font-size:50px; background:#52a7f2; width:120px; padding:0px \" type=\"button\" onclick='doit(\"on_blue\");'>ON</button>\n        <button style=\"font-size:50px; background:#134877; width:120px; padding:0px\" type=\"button\" onclick='doit(\"off_blue\");'>OFF</button>\n        <br>\n        <br>\n        <h2>Yellow Light</h2>\n        <button style=\"font-size:50px; background:#fcea4b; width:120px; padding:0px \" type=\"button\" onclick='doit(\"on_yellow\");'>ON</button>\n        <button style=\"font-size:50px; background:#7f7306; width:120px; padding:0px\" type=\"button\" onclick='doit(\"off_yellow\");'>OFF</button>\n        <br>\n\n        \n        </div>\n       \n        <hr/>\n\n        </font>\n    </body>\n</html>\n","x":400,"y":92,"wires":[["a362a03b.14f68"]]},{"id":"77174a74.be3b84","type":"websocket in","z":"402d4f98.f78de","name":"","server":"fab8c838.1004e8","client":"","x":203,"y":205,"wires":[["8f79c17a.1c54f","bfc963b5.08bfb","2cc923a3.3c5ecc","c42e64df.ca2848"]]},{"id":"8f79c17a.1c54f","type":"debug","z":"402d4f98.f78de","name":"","active":true,"console":"false","complete":"false","x":434,"y":416,"wires":[]},{"id":"671d7d73.d27984","type":"rpi-gpio out","z":"402d4f98.f78de","name":"","pin":"11","set":"","level":"0","out":"out","x":821,"y":147,"wires":[]},{"id":"bfc963b5.08bfb","type":"function","z":"402d4f98.f78de","name":"","func":"if (msg.payload == \"hi_green\")\n{\n    msg.payload = 1;\n}\nif (msg.payload == \"off_green\")\n{\n    msg.payload = 0;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":452,"y":153,"wires":[["671d7d73.d27984"]]},{"id":"2cc923a3.3c5ecc","type":"function","z":"402d4f98.f78de","name":"","func":"if (msg.payload == \"on_blue\")\n{\n    msg.payload = 1;\n}\nif (msg.payload == \"off_blue\")\n{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":216,"wires":[["73851e4d.3013b"]]},{"id":"c42e64df.ca2848","type":"function","z":"402d4f98.f78de","name":"","func":"if (msg.payload == \"on_yellow\")\n{\n    msg.payload = 1;\n}\nif (msg.payload == \"off_yellow\")\n{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":273,"wires":[["674d14cc.82611c"]]},{"id":"73851e4d.3013b","type":"rpi-gpio out","z":"402d4f98.f78de","name":"","pin":"13","set":"","level":"0","out":"out","x":827,"y":225,"wires":[]},{"id":"674d14cc.82611c","type":"rpi-gpio out","z":"402d4f98.f78de","name":"","pin":"15","set":"","level":"0","out":"out","x":832,"y":289,"wires":[]},{"id":"fab8c838.1004e8","type":"websocket-listener","z":"402d4f98.f78de","path":"/ws/simple","wholemsg":"false"}]
