website-response-node-red
[{"id":"8eb22a9c.e9ed98","type":"http in","z":"fc06b18b.9dac","name":"","url":"/mysite","method":"get","swaggerDoc":"","x":266,"y":320,"wires":[["a99586e5.d15838"]]},{"id":"8dddb208.f32a5","type":"http in","z":"fc06b18b.9dac","name":"","url":"/mysitepost","method":"post","swaggerDoc":"","x":286,"y":520,"wires":[["4bf4dd6b.bd62c4","49a1f2fe.a1c6ac"]]},{"id":"a99586e5.d15838","type":"function","z":"fc06b18b.9dac","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":506,"y":320,"wires":[["509fea1d.597a34"]]},{"id":"597ca381.b855fc","type":"debug","z":"fc06b18b.9dac","name":"mysitepost","active":true,"console":"false","complete":"payload","x":926,"y":520,"wires":[]},{"id":"de6c0c27.a297f","type":"http response","z":"fc06b18b.9dac","name":"","x":946,"y":480,"wires":[]},{"id":"42b33781.5f9d28","type":"template","z":"fc06b18b.9dac","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":666,"y":420,"wires":[["81c41af2.6b7648"]]},{"id":"509fea1d.597a34","type":"template","z":"fc06b18b.9dac","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":506,"y":420,"wires":[["42b33781.5f9d28"]]},{"id":"4ac24979.5b12d8","type":"http response","z":"fc06b18b.9dac","name":"","x":946,"y":420,"wires":[]},{"id":"81c41af2.6b7648","type":"template","z":"fc06b18b.9dac","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":806,"y":420,"wires":[["4ac24979.5b12d8"]]},{"id":"e976369c.fb4958","type":"comment","z":"fc06b18b.9dac","name":"Login Form","info":"","x":466,"y":380,"wires":[]},{"id":"7993bc68.88c454","type":"function","z":"fc06b18b.9dac","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":676,"y":480,"wires":[["de6c0c27.a297f"]]},{"id":"2ba3ed32.e588f2","type":"comment","z":"fc06b18b.9dac","name":"Inject msg object properties","info":"","x":476,"y":280,"wires":[]},{"id":"4bf4dd6b.bd62c4","type":"json","z":"fc06b18b.9dac","name":"","x":486,"y":480,"wires":[["7993bc68.88c454"]]},{"id":"97212f22.82c6d","type":"comment","z":"fc06b18b.9dac","name":"Website","info":"","x":246,"y":240,"wires":[]},{"id":"36361bbe.44cd84","type":"comment","z":"fc06b18b.9dac","name":"Form Submission","info":"","x":276,"y":460,"wires":[]},{"id":"f880d20f.62ec1","type":"comment","z":"fc06b18b.9dac","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":576,"y":140,"wires":[]},{"id":"49a1f2fe.a1c6ac","type":"function","z":"fc06b18b.9dac","name":"","func":"msg.payload  = msg.payload.firstname\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":631,"wires":[["597ca381.b855fc"]]}]
